<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

 <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-avergara.Fringe.Presentation.MVC-20190518021409.mdf;Initial Catalog=aspnet-avergara.Fringe.Presentation.MVC-20190518021409;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Server=198.38.83.200;Database=avergara_fringe;Uid=avergara_admin;Password=Amvm1973;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>